img{
    height: 300px;
    width: 400px;
}
img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
p{
    text-align: justify;
}

.tamaño{
    height: 200px;
    width: 250px;
}
.style{
    background: linear-gradient(
        rgba(119, 148, 234,0.7),
        rgba(93, 25, 117,0.7));
    align-content: center;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
}
